@import "bourbon/bourbon"
@import "base/grid-settings"
@import "neat/neat"
@import "base/base"

@import "openlayers3/build/ol.css"

@import 'components/footer'
@import 'components/navigation'



body
  background: #d4d4d4 url("../images/background.png")
  text-align: left
  font-family: sans-serif

h1
  color: rgba(0, 0, 0, .3)
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
  background: url("../images/middleman.png") no-repeat center 100px
  padding: 350px 0 10px
  margin: 0

#recovery-dashboard
  width: 100%
  min-height: 400px
  #dashboard-map
    width: 100%
    height: 500px
    position: relative

  #layers
    position: absolute
    top: 50px
    left: 20px
    @include span-columns(2)
    background: rgba(233,233,233,0.8)
    border: 1px solid #cdcdcd
    h4
      background: #cecece
      padding: 10px
      font-size: 14px
    .layer
      padding: 5px 10px
      font-size: 12px
