#layers.ng-cloak.minify(ng-class="{ minify: minify }")
  .header(ng-mouseover="minify=false" ng-mouseout="minify=true")
    %ul.group-header
      %li.group(ng-repeat="group in layerGroups" ng-class="{active: group.active}" ng-click="showGroup()" ng-model="group")
        %i(class="fa fa-{{group.iconClass}}")
        .tooltip
          {{group.name}}
  .wrapper
    #groups(ng-mouseover="minify=false" ng-mouseout="minify=true")
      .groups(ng-repeat="group in layerGroups" ng-show="group.active" ng-class="{active: group.active}")
        %h4 {{group.name}}
        .layer(ng-repeat="layer in group.layers" ng-model="layer")
          .layer-check(ng-click="toggleDisplayed()")
            %input(type="checkbox" ng-model="layer.displayed" ng-change="toggleVisibility()")
              %label
          .name(ng-model="visibleLayers" ng-click="toggleDisplayed()") {{layer.metadata.name}}
          .info(ng-model="layer.metadata.show" ng-click="toggleMetadata()") i
          .sub-styles(ng-show="layer.styleOptions")
            .subcheck( ng-model="styleOptions" ng-repeat="styleOptions in layer.styleOptions")
              %input(type="radio" name="layerSubStyle" ng-model="layer.selectedStyle" ng-value="styleOptions.styleParam" ng-change="changeStyle()")
              %p {{styleOptions.styleName}}
        .layer(ng-repeat="combinedLayer in group.combinedLayers" ng-model="combinedLayer")
          .layer-check(ng-click="toggleCombinedDisplayed()")
            %input(type="checkbox" ng-model="combinedLayer.displayed" ng-change="toggleCombinedVisibility()")
              %label
          .name(ng-model="visibleLayers" ng-click="toggleCombinedDisplayed()") {{combinedLayer.name}}
          .info(ng-model="combinedLayer.metadata.show" ng-click="toggleMetadata()") i
    .active-layers(ng-mouseover="minify=minify" ng-mouseout="minify=minify")
      %h5 Data currently displayed
      .active-groups(ng-repeat="group in layerGroups")
        .layer(ng-repeat="layer in group.layers" ng-show="layer.displayed")
          .layer-check(ng-click="toggleDisplayed()")
            %input(type="checkbox" ng-model="layer.displayed" ng-change="toggleVisibility()")
              %label
          .name(ng-model="visibleLayers" ng-click="toggleDisplayed()") {{layer.metadata.name}}
        .layer(ng-repeat="combinedLayer in group.combinedLayers" ng-show="combinedLayer.displayed")
          .layer-check(ng-click="toggleCombinedDisplayed()")
            %input(type="checkbox" ng-model="combinedLayer.displayed" ng-change="toggleVisibility()")
              %label
          .name(ng-model="visibleLayers" ng-click="toggleCombinedDisplayed()") {{combinedLayer.metadata.name}}
      %p Click on a layer to hide it
