@charset "UTF-8";
@import url(openlayers3/build/ol.css);
/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  /* line 13, /Development/projects/recovery_dashboard/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 17, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 21, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 25, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 29, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 33, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 37, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 41, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 45, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 50, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 54, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 60, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 68, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 73, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 80, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 84, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 68, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

/* line 74, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 22, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 27, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  /* line 9, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer .footer-logo {
    text-align: center;
    margin-bottom: 2em; }
    /* line 12, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
    .footer .footer-logo img {
      height: 3em; }
  /* line 14, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer .footer-links {
    margin-bottom: 1.5em; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      /* line 14, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer .footer-links {
        margin-left: 25.58941%; } }
  /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_span-columns.scss */
        .footer ul:last-child {
          margin-right: 0; }
        /* line 52, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        /* line 57, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n+1) {
          clear: left; }
        /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
        .footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer li {
        text-align: left; } }
  /* line 29, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
    .footer li a:hover {
      color: white; }
  /* line 33, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }
  /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  /* line 42, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
.centered-navigation {
  background-color: #e7f1ec;
  border-bottom: 1px solid #d4e6dd;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation .mobile-logo {
        display: none; } }
  /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .centered-navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    /* line 43, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #333; }
  /* line 46, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 51, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      /* line 51, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    /* line 65, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  /* line 68, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul li {
    background: #e7f1ec;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 68, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px; }
        /* line 81, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation ul li a {
          padding-right: 1em; } }
    /* line 84, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation ul li a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block; }
      /* line 87, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul li a:hover {
        color: #333; }
  /* line 89, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.logo {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 89, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.logo {
        display: inline; } }
  /* line 94, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  /* line 100, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > ul > li:first-child a {
    padding-top: 1em; }
  /* line 102, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link a {
    margin-right: 1em; }
  /* line 104, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > a {
    padding-right: 0.6em; }
  /* line 106, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > a:after {
    position: absolute;
    top: auto;
    right: -0.4em;
    bottom: auto;
    left: auto;
    color: rgba(51, 51, 51, 0.7);
    content: "▾"; }
  /* line 110, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 113, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more a {
      padding-right: 1em; }
    /* line 115, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        /* line 115, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      /* line 121, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.more > a:after {
        content: "⟩";
        position: absolute;
        right: 0.5em; }
    /* line 125, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      /* line 110, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  /* line 130, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 130, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      /* line 138, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 142, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        /* line 142, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 147, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          /* line 150, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: 0.7em; } }
      /* line 155, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          /* line 155, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li a {
            background-color: #e7f1ec;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
#recovery-dashboard #layers {
  position: absolute;
  top: 50px;
  left: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background: rgba(233, 233, 233, 0.8);
  border: 1px solid #cdcdcd; }
  /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_span-columns.scss */
  #recovery-dashboard #layers:last-child {
    margin-right: 0; }
  /* line 9, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #layers h4 {
    background: #cecece;
    padding: 10px;
    font-size: 14px; }
  /* line 13, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #layers .layer {
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    cursor: pointer; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    #recovery-dashboard #layers .layer:after {
      content: "";
      display: table;
      clear: both; }
    /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer input {
      float: left; }
    /* line 21, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .name {
      float: left; }
    /* line 23, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .info {
      float: right;
      background: #215A6D;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      color: white;
      line-height: 20px;
      text-align: center; }
    /* line 32, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .metadata {
      position: absolute;
      right: -150px;
      top: 0px;
      width: 150px;
      background: rgba(200, 200, 200, 0.7);
      padding: 10px; }

/* line 15, /Development/projects/recovery_dashboard/source/stylesheets/all.sass */
body {
  background: #d4d4d4 url("../images/background.png");
  text-align: left;
  font-family: sans-serif; }

/* line 20, /Development/projects/recovery_dashboard/source/stylesheets/all.sass */
h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

/* line 31, /Development/projects/recovery_dashboard/source/stylesheets/all.sass */
#recovery-dashboard {
  width: 100%;
  min-height: 400px; }
  /* line 34, /Development/projects/recovery_dashboard/source/stylesheets/all.sass */
  #recovery-dashboard #dashboard-map {
    width: 100%;
    height: 500px;
    position: relative;
    border-bottom: 1px solid #cdcdcd; }
