@charset "UTF-8";
/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  /* line 13, /Development/projects/recovery_dashboard/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 17, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 21, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 25, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 29, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 33, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 37, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 41, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 45, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 50, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 54, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 60, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 68, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 73, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 80, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 84, /Development/projects/recovery_dashboard/source/stylesheets/base/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 68, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

/* line 74, /Development/projects/recovery_dashboard/source/stylesheets/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Development/projects/recovery_dashboard/source/stylesheets/base/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 22, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 27, /Development/projects/recovery_dashboard/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-scale-line {
  background: #95b9e6;
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents,width; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overlay-container {
  will-change: left,right,top,bottom; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-unsupported {
  display: none; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-control {
  position: absolute;
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6); }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoom {
  top: .5em;
  left: .5em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-rotate {
  top: .5em;
  right: .5em;
  transition: opacity .25s linear,visibility 0s linear; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear,visibility 0s linear .25s; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoom-extent {
  top: 4.643em;
  left: .5em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-full-screen {
  right: .5em;
  top: .5em; }

@media print {
  /* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
  .ol-control {
    display: none; } }
/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: #7b98bc;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoom-extent button {
  line-height: 1.4em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-compass {
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  will-change: transform; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-touch .ol-control button {
  font-size: 1.5em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-touch .ol-zoom-extent {
  top: 5.5em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-control button:focus, .ol-control button:hover {
  text-decoration: none;
  background-color: #4c6079;
  background-color: rgba(0, 60, 136, 0.7); }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em); }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution li:not(:last-child):after {
  content: " "; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution img {
  max-height: 2em;
  max-width: inherit; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution button, .ol-attribution ul {
  display: inline-block; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-collapsed ul {
  display: none; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-logo-only ul {
  display: block; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8); }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-logo-only {
  background: 0 0;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-attribution.ol-logo-only button, .ol-attribution.ol-uncollapsible button {
  display: none; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoomslider {
  position: absolute;
  top: 4.5em;
  left: .5em;
  background: #eee;
  background: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 200px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-zoomslider-thumb {
  position: absolute;
  background: #7b98bc;
  background: rgba(0, 60, 136, 0.5);
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  width: 22px;
  margin: 3px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-touch .ol-zoomslider {
  top: 5.5em;
  width: 2.052em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-touch .ol-zoomslider-thumb {
  width: 1.8em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap {
  position: absolute;
  left: .5em;
  bottom: .5em; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap .ol-overviewmap-map, .ol-overviewmap button {
  display: inline-block; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap.ol-collapsed .ol-overviewmap-map, .ol-overviewmap.ol-uncollapsible button {
  display: none; }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8); }

/* line 1, /Development/projects/recovery_dashboard/bower_components/openlayers3/build/ol.css */
.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7); }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  /* line 9, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer .footer-logo {
    text-align: center;
    margin-bottom: 2em; }
    /* line 12, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
    .footer .footer-logo img {
      height: 3em; }
  /* line 14, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer .footer-links {
    margin-bottom: 1.5em; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      /* line 14, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer .footer-links {
        margin-left: 25.58941%; } }
  /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_span-columns.scss */
        .footer ul:last-child {
          margin-right: 0; }
        /* line 52, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        /* line 57, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n+1) {
          clear: left; }
        /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
        .footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
      .footer li {
        text-align: left; } }
  /* line 29, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
    .footer li a:hover {
      color: white; }
  /* line 33, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }
  /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  /* line 42, /Development/projects/recovery_dashboard/source/stylesheets/components/_footer.sass */
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
.centered-navigation {
  background-color: #e7f1ec;
  border-bottom: 1px solid #d4e6dd;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    /* line 25, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      /* line 20, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation .mobile-logo {
        display: none; } }
  /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .centered-navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    /* line 43, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #333; }
  /* line 46, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 51, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      /* line 51, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    /* line 65, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  /* line 68, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul li {
    background: #e7f1ec;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 68, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px; }
        /* line 81, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation ul li a {
          padding-right: 1em; } }
    /* line 84, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation ul li a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block; }
      /* line 87, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul li a:hover {
        color: #333; }
  /* line 89, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.logo {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 89, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.logo {
        display: inline; } }
  /* line 94, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  /* line 100, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > ul > li:first-child a {
    padding-top: 1em; }
  /* line 102, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link a {
    margin-right: 1em; }
  /* line 104, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > a {
    padding-right: 0.6em; }
  /* line 106, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more.nav-link > a:after {
    position: absolute;
    top: auto;
    right: -0.4em;
    bottom: auto;
    left: auto;
    color: rgba(51, 51, 51, 0.7);
    content: "▾"; }
  /* line 110, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 113, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more a {
      padding-right: 1em; }
    /* line 115, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        /* line 115, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      /* line 121, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.more > a:after {
        content: "⟩";
        position: absolute;
        right: 0.5em; }
    /* line 125, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      /* line 110, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  /* line 130, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 130, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      /* line 138, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 142, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        /* line 142, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 147, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          /* line 150, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: 0.7em; } }
      /* line 155, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          /* line 155, /Development/projects/recovery_dashboard/source/stylesheets/components/_navigation.sass */
          .centered-navigation ul.submenu li a {
            background-color: #e7f1ec;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
#recovery-dashboard #layers {
  position: absolute;
  top: 80px;
  left: 10px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background: rgba(233, 233, 233, 0.8);
  border: 1px solid #cdcdcd; }
  /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_span-columns.scss */
  #recovery-dashboard #layers:last-child {
    margin-right: 0; }
  /* line 9, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #layers h4 {
    background: #cecece;
    padding: 10px;
    font-size: 14px; }
  /* line 13, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #layers .layer {
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    cursor: pointer; }
    /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
    #recovery-dashboard #layers .layer:after {
      content: "";
      display: table;
      clear: both; }
    /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .layer-check {
      float: left; }
    /* line 21, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .name {
      float: left;
      margin-left: 5px; }
    /* line 24, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .info {
      float: right;
      background: #215A6D;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      color: white;
      line-height: 20px;
      text-align: center; }
    /* line 33, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #layers .layer .sub-styles {
      clear: left;
      float: left;
      margin: 10px 0 0 15px; }
      /* line 37, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
      #recovery-dashboard #layers .layer .sub-styles .subcheck {
        clear: left;
        float: left; }
        /* line 40, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
        #recovery-dashboard #layers .layer .sub-styles .subcheck input {
          float: left; }
        /* line 42, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
        #recovery-dashboard #layers .layer .sub-styles .subcheck p {
          float: left; }
/* line 45, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
#recovery-dashboard #groups .group-header {
  border-bottom: 1px solid #ccc;
  background: #8CA3AB; }
  /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
  #recovery-dashboard #groups .group-header:after {
    content: "";
    display: table;
    clear: both; }
  /* line 49, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #groups .group-header .group {
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #ccc; }
    /* line 53, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #groups .group-header .group .tooltip {
      position: absolute;
      display: none; }
    /* line 56, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #groups .group-header .group.active {
      background: #7585A9;
      color: #fff; }
    /* line 59, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
    #recovery-dashboard #groups .group-header .group:hover {
      cursor: pointer; }
/* line 61, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
#recovery-dashboard #groups .groups {
  padding: 10px; }
  /* line 63, /Development/projects/recovery_dashboard/source/stylesheets/components/_layers.sass */
  #recovery-dashboard #groups .groups.active {
    background: #7585A9;
    color: #fff; }

/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/components/_popup.sass */
#recovery-dashboard #popup {
  background: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 2px silver;
  color: #333;
  font-size: 0.7em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 16em;
  z-index: 10; }
  /* line 28, /Development/projects/recovery_dashboard/source/stylesheets/components/_popup.sass */
  #recovery-dashboard #popup h4 {
    color: #333;
    line-height: 1.5em;
    margin: 0;
    font-size: 1.2em;
    padding: 0.5em 1.5em 0.5em 1em;
    background: #1D2E4C;
    color: #fff;
    min-height: 25px; }
    /* line 37, /Development/projects/recovery_dashboard/source/stylesheets/components/_popup.sass */
    #recovery-dashboard #popup h4 .close {
      position: absolute;
      top: 0px;
      right: 5px;
      color: #fff;
      cursor: pointer; }
  /* line 43, /Development/projects/recovery_dashboard/source/stylesheets/components/_popup.sass */
  #recovery-dashboard #popup .content {
    padding: 0.5em; }
  /* line 45, /Development/projects/recovery_dashboard/source/stylesheets/components/_popup.sass */
  #recovery-dashboard #popup:after {
    position: absolute;
    right: 0;
    left: 0;
    border: 8px solid transparent;
    bottom: -1.3em;
    color: white;
    content: "▼";
    font-size: 1.4em;
    margin-left: -8px;
    text-align: center; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
.layer-check {
  width: 18px;
  height: 18px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  float: left; }
  /* line 3, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
  .layer-check input[type=checkbox] {
    visibility: hidden; }
  /* line 22, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
  .layer-check label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 1px;
    top: 1px; }
    /* line 32, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
    .layer-check label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background: #00A0B0;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      top: 1px;
      left: 1px; }
    /* line 46, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
    .layer-check label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3; }
  /* line 50, /Development/projects/recovery_dashboard/source/stylesheets/components/_layer_checkbox.sass */
  .layer-check input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }

/* line 2, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
.sidebar {
  position: absolute;
  right: 0;
  top: 40px;
  background: rgba(30, 30, 30, 0.8);
  z-index: 50; }
  /* line 8, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
  .sidebar.active {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    /* line 38, /Development/projects/recovery_dashboard/source/stylesheets/neat/grid/_span-columns.scss */
    .sidebar.active:last-child {
      margin-right: 0; }
  /* line 11, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
  .sidebar .pull {
    background: rgba(30, 30, 30, 0.8);
    padding: 0 5px; }
    /* line 14, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
    .sidebar .pull:after {
      content: "«";
      color: #fff;
      font-size: 2em;
      cursor: pointer; }
  /* line 19, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
  .sidebar #sidebar {
    padding: 10px; }
    /* line 21, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
    .sidebar #sidebar .close {
      float: right; }
      /* line 23, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
      .sidebar #sidebar .close:after {
        content: "x";
        color: #fff;
        font-size: 1em;
        cursor: pointer; }
    /* line 28, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
    .sidebar #sidebar .content {
      color: #fff; }
      /* line 15, /Development/projects/recovery_dashboard/source/stylesheets/bourbon/addons/_clearfix.scss */
      .sidebar #sidebar .content:after {
        content: "";
        display: table;
        clear: both; }
      /* line 31, /Development/projects/recovery_dashboard/source/stylesheets/components/_sidebar.sass */
      .sidebar #sidebar .content a {
        display: block; }

/* line 1, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/* line 4, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
#recovery-dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 10, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
  #recovery-dashboard .dashboard-map {
    height: 100%; }

/* line 12, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
#metadata-info {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 450px;
  background: rgba(200, 200, 200, 0.9); }
  /* line 18, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
  #metadata-info .metadata {
    postion: relative;
    border: 1px solid #dcdcdc; }
    /* line 21, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
    #metadata-info .metadata .close {
      position: absolute;
      right: 5px;
      top: 5px;
      border: 1px solid #fff;
      cursor: pointer;
      padding: 0 5px; }
    /* line 28, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
    #metadata-info .metadata h2 {
      background: #ddd;
      border-bottom: 1px solid #dcdcdc;
      padding: 10px; }
    /* line 32, /Development/projects/recovery_dashboard/source/stylesheets/_main.sass */
    #metadata-info .metadata .content {
      padding: 10px;
      max-height: 400px;
      overflow: auto; }

/* line 18, /Development/projects/recovery_dashboard/source/stylesheets/all.sass */
body {
  text-align: left;
  font-family: sans-serif;
  -webkit-backface-visibility: hidden; }
