---
title: Recovery Dashboard
---
#recovery-dashboard{ "ng-controller"=> "RecoveryDashboardCtrl" }
  %openlayers(id="dashboard-map" custom-layers="true" ol-center="nepal")
    %ol-layer(ol-layer-properties="layer" ng-repeat="layer in layers|filter:{active:true}")

  #layers
    .groups(ng-repeat="group in layerGroups")
      %h4 {{group.name}}
      .layer(ng-repeat="layer in group.layers" ng-mouseover="layer.visible=true;" ng-mouseout="toggleVisibility()" ng-click="toggleDisplayed()")
        %input(type="checkbox" ng-model="layer.displayed" ng-change="toggleVisibility()")
          .name(ng-model="visibleLayers" ) {{layer.name}}
          .info(ng-model="layer.metadata.show" ng-mouseover="showMetadata()" ng-mouseout="hideMetadata()") i
          .metadata(ng-show="layer.metadata.show")
            %span {{layer.metadata.name}}
            %span {{layer.metadata.source}}

