---
title: Recovery Dashboard
---
= partial "partials/sidebar.html"
#recovery-dashboard{ "ng-controller"=> "RecoveryDashboardCtrl" }
  %openlayers(class="dashboard-map" custom-layers="true" ol-defaults="defaults" ol-center="nepal")
    %ol-layer(ol-layer-properties="layer" ng-repeat="layer in layers|filter:{active:true}")
  = partial "partials/popups"
  = partial "partials/layers"
  = partial "partials/metadata_info"
